@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
/* Common Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

html{
  font-size: 62.5%;
}

.section-heading{
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .5rem;
  text-shadow: .3rem .3rem .3rem #000;
}
/* End of Common Styles */

/* Section 1 */
.section-1{
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-1-icons i{
  font-size: 35rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: .2rem .2rem .2rem #000;
  transition: transform .3s;
}

.section-1-icons i.change{
  transform: translate(-50%, -50%) scale(1);
  transition: transform .3s .3s;
}
/* End of Section 1 */

/* Section 2 */
.section-2{
  width: 100%;
  height: 100vh;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.cards-container{
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 30rem;
  background-color: #a79a2d;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform .5s, box-shadow .5s;
}

.card:hover{
  transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
}

.card::before{
  content: '';
  height: 100%;
  width: 1rem;
  background: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -.1rem -.1rem .1rem #000;
}

.card::after{
  content: '';
  height: 1rem;
  width: 100%;
  background: #8f8317;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -.1rem -.1rem .1rem #000;
}

.card-img{
  width: 100%;
}

.card-name{
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: #111;
  margin: 2rem 0;
  text-shadow: .15rem .15rem .15rem #000;
}

.card-btn{
  width: 70%;
  background: #111;
  color: #888;
  border-radius: 5rem;
  font-weight: 800;
  font-size: 1.5rem;
  left: .2rem;
  text-transform: capitalize;
  border: none;
  padding: .5rem 0;
  cursor: pointer;
  box-shadow: -.2rem -.2rem .2rem #000;
}
/* End of Section 2 */